.header {
  padding-top: 28px;
  border-bottom: solid 1px rgba(84, 84, 84, 0.7);
  width: 100%;
  display: flex;
  margin-top: 0;
}

.header__logo {
  margin-bottom: 41px;
}

@media screen and (max-width: 320px) {
  .header {
    margin: 0;
    max-width: 100%;
  }

  .header__logo {
    max-width: 126px;
    max-height: 24px;
    margin-left: 24px;
  }
}
