.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  object-fit: cover;
  cursor: pointer;
}

.card__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  padding: 25px 20px 25px 20px;
  border-radius: 0 0 10px 10px;
}

.card__description-text {
  color: #000;
  font-family: "Inter", Arial, serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__preview_caption {
  color: #fff;
  font-family: "Inter", Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  border: none;
  width: 21px;
  height: 18px;
  flex-shrink: 0;
}

.card__like-button:hover {
  cursor: pointer;
  opacity: 0.5;
}

.card__like-button_active {
  background: url(../images/like-active.svg);
}

.card__trash-button {
  background: transparent url(../images/close-icon.svg) center no-repeat;
  flex-shrink: 0;
  width: 18px;
  height: 20px;
  border: none;
  position: absolute;
  top: 18px;
  right: 15px;
}

.card__trash-button:hover {
  cursor: pointer;
  opacity: 0.6;
}
