.header {
  margin: 0;
  max-width: 100%;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  padding: 0;
}

.header__image {
  padding: 0 0 40px;
  margin: 0;
}

@media screen and (max-width: 620px) {
  .header {
    width: 100%;
  }

  .header__image {
    padding: 0 0 32px 27px;
  }
}

@media screen and (max-width: 320px) {
  .header__image {
    width: 126px;
  }
}
