.page {
  max-width: 1280px;
  min-width: 320px;
  margin: 0 auto;
  background: black;
}

.page__section {
  max-width: 880px;
  width: 100%;
  margin: 0;
  position: relative;
}

.page__content {
  display: flex;
  flex-direction: column;
  margin: 45px auto;
  min-height: 100vh;
  max-width: 880px;
  padding: 0 15px 0;
}

@media screen and (max-width: 620px) {
  .page__content {
    padding: 0;
    margin: 28px auto;
  }

  .content {
    margin: 0 15px;
  }
}
